@import "_colors.scss";
@import '_shadows.scss';
$layout: dark;
$bg-color: $white;
$text-color: $black;
@if $layout ==light {
    $bg-color: $white;
    $text-color: $black;
}
@else {
    $bg-color: $black;
    $text-color: $white;
}
@for $i from 1 through 12 {
    .grid-#{$i} {
        width: 96px * $i;
    }
}
@function grid($col, $total: 12) {
    @return ($col / $total) * 100%;
}
div {
    width: grid(5);
}
@mixin title($cor: $red, $tamanho: 24px) {
    font-variant: small-caps;
    font-size: $tamanho;
}
@mixin responsive-mobile {
    font-variant: small-caps;
    text-transform: uppercase;
    @media screen and (max-width: 420px) {
        @content;
    }
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    color: $text-color;
    font-size: 72px;
    @include responsive-mobile() {
        font-size: 24px;
    }
    @include title();
    span {
        color: $green;
    }
}
.link {
    display: inline-block;
    color: $black;
    text-decoration: none;
    background-color: $lightgray;
    padding: 16px 124px;
    margin-top: 24px;
    border-radius: 8px;
    transition: .5s ease;
    &:hover {
        box-shadow: $box-shadow-red;
    }
}
p {
    color: $text-color;
    font-size: 24px;
    @include responsive-mobile() {
        font-size: 14px;
        color: $white;
    }
}