header {
    max-width: 100%;
    margin: 0 auto;
    padding: 8px 24px;
}
.flex {
    display: flex;
}
a {
    text-decoration: none;
    color: $white-dark;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    list-style: none;
    display: flex;
    li {
        margin-left: 24px;
    }
}
.nav-link {
    display: inline-block;
    padding: 8px;
    font-size: 18px;
    transition: .5s ease;
    &:hover {
        opacity: 0.7;
    }
}
.input-search {
    height: 48px;
    background-color: $black-light;
    border: 0;
    border-radius: 4px;
    color: $white-light;
    padding: 4px;
    min-width: 300px;
    letter-spacing: .6px;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 8px 24px;
}
.img-profile {
    width: 56px;
    height: 56px;
    background-color: $gray-2;
    border-radius: 50%;
}
.container-posts {
    display: flex;
}