header {
    max-width: 1200px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.border {
    border: 1px solid red;
}